<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-mediastorefiles" version="0.7.0"
	xmlns="http://www.w3.org/ns/plugins">

	<name>cordova-plugin-mediastorefiles</name>

	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>

	<asset src="www/MediaStoreFiles.js" target="js/MediaStoreFiles.js"/>

	<js-module name="MediaStoreFiles" src="www/MediaStoreFiles.js">
		<clobbers target="cordova.plugins.MediaStoreFiles"/>
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="MediaStoreFiles">
				<param name="android-package" value="come.MediaStoreFiles"/>
			</feature>
		</config-file>

		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
			<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
			<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

		</config-file>

		<source-file src="src/android/MediaStoreFiles.java" target-dir="src/ordova-plugin-mediastorefiles/MediaStoreFiles/"/>
	</platform>
</plugin>
